.btn{
	width:160px;
	height:50px;
	border-radius: 0;
	border:1;
	font-weight: bold;
	font-size: 16px;
}

.btn-default{
	background-color: transparent;
	color: #fff;
	
	&:hover,
	&:focus,
	&:active{
		background-color: #fff;
		border-color: #fff;
		color: $color-burgandy;
	    
	    &:hover,
	    &:focus{
			background-color: #fff;
			border-color: #fff;
			color: $color-burgandy;
	    }
	}
}

.btn-primary{
	background-color: $color-red;
	border-color: $color-red;
	color: #fff;

	&:hover, 
	&:focus, 
	&:active {
		background-color: $color-brown;
		border-color: $color-brown;
	    
	    &:hover,
	    &:focus{
			background-color: $color-brown;
			border-color: $color-brown;
	    }
	}
}