body{
	font-family: $font-family-sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $color-white;
}

header {
	background-color: $color-burgandy;
	padding: 10px;
	position: fixed;
	height: 40px;
	width: 100%;
	top: 70px;
	z-index: 9;
	a {
		color: #fff;
	}

}

.main-banner{
	padding: 75px 0 150px;
}

.brand-logo{
	margin-bottom: 40px;
}

.brand-message {
	margin: 0 auto;
	max-width: 400px;
}

.brand-action {
	margin-top: 30px;

	.btn{
		margin: 0 6px;
	}
}

.version{
	color: $color-orange;
	margin: 8px 34px 0 0;
	font-style: italic;
}