p { font-size: 18px;}
.text-yellow{ color: #FCBD00; } 
.text-orange{ color: #F27405; } 
.text-red{ color: #D93D04; } 
.text-burgandy{ color: #732002; } 
.text-brown{ color: #402721; }
.emphasis{ color: #fff; }