$color-yellow: #FCBD00;
$color-orange: #F27405;
$color-red: #D93D04;
$color-burgandy: #732002;
$color-brown: #402721;
$color-white: #fff;
$color-csun-red: #CF0A2C;

$font-family-sans-serif:  'Lato', arial, sans-serif;;

$font-size-base: 16px;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: ceil(($font-size-base * 0.85));

$font-size-h1: floor(($font-size-base * 2.6));
$font-size-h2: floor(($font-size-base * 2.15));
$font-size-h3: ceil(($font-size-base * 1.7));
$font-size-h4: ceil(($font-size-base * 1.25));
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85));